In [3]:
import pandas as pd

df_titanic = pd.read_csv('/content/sample_data/train.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**1. Kazada ölenlerin yaş ortalamasını bulunuz**

In [7]:
df_titanic[df_titanic['Survived']==0]['Age'].mean()

np.float64(30.62617924528302)

**2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz**

In [13]:
deaths_mean = df_titanic[df_titanic['Survived']==0]['Fare'].mean()
deaths_median = df_titanic[df_titanic['Survived']==0]['Fare'].median()

deaths_mean , deaths_median

(np.float64(22.117886885245902), 10.5)

**3. Kazada ölen erkeklerin yaş ortalamasını bulunuz**

In [16]:
deaths = df_titanic[df_titanic['Survived']==0]
deaths_men = deaths['Sex']=='male'
deaths_men_age_mean = deaths[deaths_men]['Age'].mean()
deaths_men_age_mean

np.float64(31.618055555555557)

**4. Kazada ölen kadınların yaş ortalamasını bulunuz**

In [18]:
deaths = df_titanic[df_titanic['Survived']==0]
deaths_women = deaths['Sex']=='female'
deaths_women_age_mean = deaths[deaths_women]['Age'].mean()
deaths_women_age_mean

np.float64(25.046875)

**5. Kazadan kurtulanların yaş ortalamasını bulunuz**

In [21]:
df_titanic[df_titanic['Survived']==1]['Age'].mean()

np.float64(28.343689655172415)

**6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz**

In [23]:
df_titanic[df_titanic['Survived']==1]['Fare'].mean()

np.float64(48.39540760233918)

**7. Kazadan kurtulan toplam kişi sayısını bulunuz**

In [26]:
len(df_titanic[df_titanic['Survived']==1])

342

**8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz**

In [29]:
df_titanic[df_titanic['Age']<10]['Fare'].median()

np.float64(30.576679032258067)

**9. Pclass’a göre bilet fiyatlarının ortalama ve medyan karşılaştırması**

In [30]:
df_titanic.groupby('Pclass')['Fare'].agg(['mean', 'median'])

             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

**10. Kazada ölen kadın ve erkek oranlarının karşılaştırılması**

In [49]:
male_total = len(df_titanic[df_titanic['Sex']=='male'])
female_total = len(df_titanic[df_titanic['Sex']=='female'])
male_total, female_total

death_male_total = len(df_titanic[(df_titanic['Sex']=='male') & (df_titanic['Survived']==0)])
death_female_total = len(df_titanic[(df_titanic['Sex']=='female') & (df_titanic['Survived']==0)])
male_total, female_total, death_male_total, death_female_total

male_death_ratio = death_male_total / male_total
female_death_ratio = death_female_total / female_total
male_death_ratio, female_death_ratio

(0.8110918544194108, 0.25796178343949044)